.sha-footer {
    background-color: $sha-main-red;

    .content {
        color: $sha-color-white;

        .title {
            color: $sha-main-yellow;
            font-weight: 700;
        }

        .title-underline {
            height: 1px;
            background-color: $sha-main-yellow;
            width: 80%;
        }

        .contact-icon {
            font-size: rem(30px);
        }

        .info-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 85%;
            .info-icon {
                width: rem(40px);
                color: $sha-main-yellow;
            }

            .info-text {

            }
        }
    }
}
