.sha-banner {
    background-color: $sha-main-yellow;
    font-size: rem(20px);

    .sha-banner-text {
        @extend .sha-cambriab-regular;
        color: $sha-main-red;
    }


    .logo {

    }
}

.menu-hover {
    background-color: rgba(255, 238, 170, 0.27);
    border-top: 4px rgba(255, 238, 170, 0.8) solid;
}

.sha-main-menubar {
    @extend .sha-roboto-bold;
    background-color: $sha-main-red;
    color: $sha-main-yellow;
    padding: 0;

    button:focus {
        outline: none;
    }

    .navbar-toggler {
        border-color: $sha-main-yellow;
        padding-top: rem(6px);
        padding-bottom: rem(6px);
    }

    .navbar-collapse {
        .nav-item {
            border-top: 4px rgba(255, 238, 170, 0) solid;
            &:hover {
                @include transition(all .3s ease);
                @extend .menu-hover;
            }

            .nav-link {
                color: $sha-main-yellow;
                padding: rem(10px 15px);
            }
        }

        .dropdown {
            .dropdown-menu {
                background-color: $sha-main-red;
                border: none;
                border-radius: 0;
                padding-bottom: 0;
                margin-top: rem(1px);
                .dropdown-item {
                    color: $sha-main-yellow;

                    &:hover {
                        background-color: rgba(255, 238, 170, 0.27);
                    }
                }

                .bottom-border {
                    height: rem(4px);
                    background-color: $sha-main-yellow;
                    margin-top: rem(5px);
                }
            }
        }

        .active {
            @extend .menu-hover;
            border-top: 4px rgba(255, 238, 170, 0.8) solid;
            &:hover {

            }

            .nav-link {
                color: $sha-main-yellow;
            }
        }
    }
}
