.icon-circle {
    border-radius: 50%;
    border: 2px $sha-color-white solid;
    padding: rem(8px);
    height: rem(40px);
    width: rem(40px);
    display: inline-block;
    text-align: center;
    color: $sha-color-white;

    &:hover {
        border: 2px $sha-main-yellow solid;
        color: $sha-main-yellow;
        @include transition(all .3s ease);
    }
}
