@charset "UTF-8";

/**
* ---------- ABSTRACT CLASS ----------
========================================================================== */
.sha-roboto-regular {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
}

.sha-roboto-bold {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
}

.sha-montserrat-regular {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}

.sha-montserrat-bold {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
}

.sha-cambriab-regular {
    font-family: 'cambriab', serif !important;
    font-weight: 400;
}


/**
* ---------- MIXINS CLASS ----------
========================================================================== */
@mixin sha-text-mixin($color, $fontSize, $lineHeight) {
    color: $color;
    font-size: $fontSize;
    line-height: $lineHeight;
}
